.blocflex .article-principale {
    background-color: #FDFFEC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    flex: 1 0 300px;
    transition: all 0.3s ease;
    text-transform: capitalize;
    opacity: 80%;
  }
  .blockflex__article {
    margin: 10px;
    padding: 5px;
    border: 1px solid #aaa;
    flex: 1 0 300px;
  }
  
  .menu-note-wp-container a{
    color:rgb(234,222,222);
  }
  
  #menu-note-wp li{
    list-style-type: none;
      margin-bottom:20px;
      font-size:20px;
  }
  
  #menu-note-wp li a:hover{
    list-style-type: none;
      margin-bottom:20px;
      font-size:20px;
      color:rgb(207,204,202);
  }
  
  .article-principale a:hover{
      color:rgb(126,124,124);
  }