.site__entete {
    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: #7A0708;
    opacity: 75%;
  }
  
  .site__main {
    grid-area: main;
    overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  }
  
  .site__footer {
    grid-area: footer;
    background-color: #7A0708;
  }
  
  .site__aside {
    grid-area: aside;
    background-color: #7A0708;
    opacity: 85%;
    text-align: left;
  }
  
  /* body ou une conteneur globale */
  .site {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "header" "aside" "main" "footer";
    row-gap: 50px;
  }
  @media screen and (min-width: 1000px) {
    .site {
      grid-template-columns: 20% auto; /* la 1ier colonne va utiliser 20% et la deuxieme va sajuster */
      grid-template-areas: "header header" "aside main" "footer footer";
    }
  }
  
  .no-aside {
    grid-template-areas: "header" "main" "footer";
    row-gap: 50px;
  }
  @media screen and (min-width: 1000px) {
    .no-aside {
      grid-template-columns: auto; /* on a une seule collone */
      grid-template-areas: "header" "main" "footer";
    }
  }/*# sourceMappingURL=style.css.map */
  
  
  
  .site_entete a {
    font-family: "Roboto", sans-serif;
    color: #fff7ec;
  }
  
    
  .btn_orange {
    background-color: rgb(255, 198, 91);
    padding: clamp(0.5rem, 0.125rem + 1.2vw, 1.1rem);
    font-size: clamp(0.5rem, 0.125rem + 1.2vw, 1.1rem);
    border-radius: 10px;
    border-style: none;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }
  
  .texte_image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    min-height: 90vh;
  }
  
  .texte_image div {
    color: white;
    margin: 50px;
    position: relative;
    max-width: 70ch;
  }
  
  /* Version avec balise d'image */
  .texte_image {
    background-color: black;
  }
  
  .texte_image img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.6;
  }
  
  .texte_image h1, .texte_image h2, .texte_image h3 {
    color: #FFF7EC;
  }
  
  .recherche {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
  }
  
  #chkBurger {
    display: none;
  }
  
